*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    font-family:ʟᴇᴇʟᴀᴡᴀᴅᴇᴇ ;
}
header{
    background-color: white;
    width: 100%;
    clear: both;
    content: "";
    display: table;
    margin-top: 10px;
    margin-right: 12px;
    
}
.menu{
width: 1100px;
margin: 5px ;

}
img {
    width: 180px;
    height: 130px;
    float: left;
    padding: 2px;
    border: 1px black;

}
nav{
    float: right;
    margin: 20px;
    width: 750px;
    border: 2px;
    color: white;

}
nav ul li{
    list-style: none;
    margin-left: 12px;
    padding: 25px ;
    float: left;
    position: relative;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px cornsilk;
}
nav ul li a::before{
    display: block;
    content: "";
    width: 0;
    background: #444;
    height: 4px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}
nav ul li a:hover::before{
    width: 100%;
}
/*main*/

main{
    background-color:khaki;
    width: 100%;
    border: 2px crimson
}
.entrada{
    width: 100%

}
main img {
    width:900px;
    height: 700px;
    margin-left: 10px;
    margin-top: 10px;
}
/*aside*/
.aside{
    background:khaki;
    width: 420px;
    height: 700px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
aside img{
    width: 250px;
    height: 300px;
}
footer{
    background-color: white;
    width: 100%;
    height: 75px;
    bottom: 0;
    position: fixed;
    text-align: left;
    border-color: #444;
    margin-left: 10px;
    margin-right: 10px;
}
.copy{
    float: right;
    margin-right: 20px;
}


  
    
    

    