*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    width: 100%;
    height: 700px;
    font-family:ʟᴇᴇʟᴀᴡᴀᴅᴇᴇ ;
    caret-color: darksalmon;
}
header{
    background-color:aqua;
    width: 1330px;
    height: 45px;
    clear: both;
    content: "";
    display: table;
    margin-top: 10px;
    margin-right: 10px;
    
}
.menu{
width: 1300px;
margin: rigth 10px ;
border: rigth 10px;

}
img {
    background-color: aqua;
    width: 180px;
    height: 130px;
    float: left;
    padding: 2px;
    border: 1px black;

}
nav{
    float: right;
    margin: 20px;
    width: 750px;
    border: 2px;
    color: white;

}
nav ul li{
    list-style:none;
    margin-left: 10px;
    padding: 20px ;
    float: left;
    position: relative;
    font-family: ʟᴇᴇʟᴀᴡᴀᴅᴇᴇ ;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px cornsilk;
}
nav ul li a::before{
    display: block;
    content: "";
    width: 0;
    background: #444;
    height: 4px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}
nav ul li a:hover::before{
    width: 100%;
}

.entrada{
    
    width: 500px;
    height: 550px;
    margin: 10px;
    margin-top: 10px;
}
.tex{
    background-color: rgba(127, 255, 212, 0.322);
    color: black;
    width: 600px;
    height: 500px;
    margin-top: 10px;
    margin: 10px;
}
.tex-2{
    background-color: rgba(127, 255, 212, 0.322);
    color: black;
    width: 600px;
    height:500px ;
    float: right;
    margin-top: 10px;
    border: 10px;
}





/*aside*/


footer{
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
    bottom: 0;
    position: fixed;
    border: 2px;
}
.datos{
    margin:7px;
    font-family: ʟᴇᴇʟᴀᴡᴀᴅᴇᴇ;
    color:black;
}
.copy{
    float: right;
    margin-right: 20px;
}
/*@MEDIA QUERY*/

/*mobile*/

@media only screen and(max-width:450px) {
    body{
max-width: 450px;
    }
    header{
        background-color: aqua;

    }
    .menu{
        background-color: blueviolet;
    }
    nav ul li{
        max-width: 450px;


    }

}
   





  
    
    

    